.header {
  z-index: 10;
}

.logo {
  width: 250px;
  height: 150px;
  cursor: pointer;
}

.links {
  text-decoration: none;
  color: white;
}

.links:hover {
  text-decoration: none;
}

@media (max-width: 800px) {
  .logo {
    width: 200px;
    height: 120px;
  }
}
